version: '3.3'
services:
  jenkins:
    build:
      context: ./
      dockerfile: Dockerfile
    
    ports:
      - "8080:8080" 
    
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./jenkins_home:/var/jenkins_home